/* ----- bose, lawn, army inner width : 1200px ----- */
.inner_wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;

    position: relative;
}

/* ----- bose 001 ----- */
#cont3_wrap {
    background: #fb8500;
    
    overflow: hidden;
}

    /* bose-font */
.bose_font {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    font-weight: 700;
    color: #fb8500;
}

#cont3_wrap > div > .bose_font {
    text-shadow: -3px 0px #fffffb,
        0px 3px #fffffb,
        3px 0px #fffffb,
        0px -3px #fffffb;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#cont3_wrap > .inner_wrap > .bose_font::before {
    content: "";
    width: 100px;
    height: 100%;
    background: url("../images/content003_headphone.png") no-repeat;
    background-size: contain;
    top: -100px;
    position: absolute;
    display: inline-block;
}

#bose_before,
#bose_after {
    width: 600px;
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translateX(-50%);

    cursor: pointer;
}

#bose_before > img,
#bose_after > img { width: 100%; display: block; }

#bose_arrow {
    position: absolute;
    right: 0;
    bottom: 20%;
}

#bose_arrow > img { width: 100%; display: block; }

/* ----- wrap-left / wrap_right 정렬 - 공통 ----- */
.wrap_left,
.wrap_right { float: left; }

/* -----------------------------------------------------------------------
.wrap_left { width: 700px; text-align: center; }
.wrap_right { width: 500px; }
----------------------------------------------------------------------- */
.wrap_left { width: 60%; text-align: center; }
.wrap_right { width: 40%; }

/* .wrap_right:after {content:''; clear: both; display: block;} */

/* ----- wrap left - 공통 ----- */
    /* mockup size - 공통 */
.mockup {
    width: 700px;
    margin: 50px 0;

    visibility: hidden;
    opacity: 0;
}

.mockup.mockupmove {
    visibility: visible;
    opacity: 1;

    animation: mockupmove 400ms ease-out;
}

.mockup > img { width: 100%; display: block; }

    /* menu-btn - 공통 */
.menu_btn { display: inline-block; }

.menu_btn > li {
    float: left;
    width: 130px;
    height: 50px;

    position: relative;
    transition-duration: 400ms;

    overflow: hidden;
}

.menu_btn > li:not(:first-child) { margin-left: 45px;}

.menu_btn > li::before {
    content:"";
    position: absolute;
    top:0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition-duration: 400ms;
    z-index: -1;
    opacity: 0;
}

.menu_btn > li > a { line-height: 50px; text-align: center;}

.menu_btn > li:hover::before {
    transform:translateX(100%);
    opacity: 1;
}

.menu_btn > li:hover > a { color: #fffffb; }

/* ----- wrap right - 공통 ----- */

/* -----------------------------------------------------------------------
.wrap_right > .explanation {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
----------------------------------------------------------------------- */
.wrap_right > .explanation { float: right; padding-top: 35%;}


/* .wrap_right > .explanation > ul { margin-left: 50px; } */

.wrap_right > .explanation > ul > li {
    line-height: 2.5em;
}

.wrap_right > .explanation > ul > li > span {
    font-weight: 700;
    width: 108px;
    display: inline-block;
    margin-right: 50px;
}

.wrap_right > .explanation > .plan_btn {
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;

    margin: 50px auto 0;

    position: relative;
    transition-duration: 400ms;

    overflow: hidden;
}

.wrap_right > .explanation > .plan_btn::before {
    content:"";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition-duration: 400ms;
    z-index: -1;
    opacity: 0;
}

.wrap_right > .explanation > .plan_btn:hover::before {
    transform: translateX(100%);
    opacity: 1;
}

.wrap_right > .explanation > .plan_btn:hover { color: #fffffb; }

/* ----- bose 002 - wrap left ----- */
    /* bose 002 - font top */
#cont4_wrap > .inner_wrap > .bose_font {
    padding-top: 100px;
}

    /* bose 002 - menus */
#bose_menus.menu_btn > li { border: 3px solid #fb8500; }

    /* bose 002 - menus hover*/
#bose_menus.menu_btn > li::before {
    background: #fb8500;
}

/* ----- bose 002 - wrap right ----- */
.wrap_right > .explanation > #bose_btn {
    border: 3px solid #fb8500;
}

.wrap_right > .explanation > #bose_btn::before {
    background-color: #fb8500;
}

/* ----- army 001 ----- */
#cont7_wrap {
    background: #0d7acf;
    
    overflow: hidden;
}

    /* army-font */
.army_font {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 5em;
    font-weight: 700;
    color: #0d7acf;
}

#cont7_wrap > div > .army_font {
    text-shadow: -3px 0px #fffffb,
        0px 3px #fffffb,
        3px 0px #fffffb,
        0px -3px #fffffb;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#cont7_wrap > .inner_wrap > .army_font::before {
    content: "";
    width: 100px;
    height: 100%;
    background: url("../images/content005_armylogo.png") no-repeat;
    background-size: contain;
    top: -100px;
    position: absolute;
    display: inline-block;
}

#army_before,
#army_after {
    width: 350px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    cursor: pointer;
}

#army_before > img,
#army_after > img { width: 100%; display: block; }

#army_arrow {
    position: absolute;
    /* right: 200px;
    top: 500px; */
    right: 15%;
    top: 50%;
}

#army_arrow > img { width: 100%; display: block; }

/* ----- army 002 - left ----- */
    /* army 002 - font top */
#cont8_wrap > .inner_wrap > .army_font {
    padding-top: 100px;
}
    
    /* army 002 - menus */
#army_menus.menu_btn > li { border: 3px solid #0d7acf; }

    /* army 002 - menus hover*/
#army_menus.menu_btn > li::before {
    background-color: #0d7acf;
}
        
    /* army 002 - wrap right */
.wrap_right > .explanation > #army_btn { border: 3px solid #0d7acf; }

.wrap_right > .explanation > #army_btn::before {
    background: #0d7acf
}

#bose_arrow,
#lawn_arrow,
#army_arrow,
#cont9_before_arrow,
#cont9_after_arrow {
    animation: arrowmove 0.5s infinite ease-out;
}

#bose_after,
#lawn_after,
#army_after { 
    visibility: hidden;
    opacity: 0;
}

#bose_before.imghide,
#lawn_before.imghide,
#army_before.imghide {
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
    transition-delay: 200ms;
}

#bose_after.imgshow,
#lawn_after.imgshow,
#army_after.imgshow {
    visibility: visible;
    opacity: 1;
    transition-duration: 200ms;
    transition-delay: 200ms;
}

#cont4_wrap > .inner_wrap > .bose_font,
#cont6_wrap > .inner_wrap > .lawn_font,
#cont8_wrap > .inner_wrap > .army_font {
    visibility: hidden;
    opacity: 0;
}

#cont4_wrap > .inner_wrap > .bose_font.fontmove,
#cont6_wrap > .inner_wrap > .lawn_font.fontmove,
#cont8_wrap > .inner_wrap > .army_font.fontmove {
    visibility: visible;
    opacity: 1;
    
    animation: fontmove 100ms ease-out;
} 

#bose_before.bounce_on,
#lawn_before.bounce_on,
#army_before.bounce_on {
    animation: bounce 400ms;
    animation-delay: 300ms;
}

/* ----- keyframes ----------------------------------- */

@keyframes bounce {
    0%, 100% { margin-bottom: 0; }
    50% { margin-bottom: 5%; }

}

@keyframes arrowmove{
    0%, 100% {transform: translate(0, 0);}
    50% {transform: translate(10px, 0);}
}

@keyframes fontmove{
    0% {transform: translate(0, -100%);}
    100% {transform: translate(0, 0);}
}

@keyframes mockupmove{
    0% {transform: translate(-20%, 0);}
    100% {transform: translate(0, 0);}
}