/* ----- content2 ----- */
#cont2_wrap {
    position: relative;

    background-color: #e5e5e5;
    overflow: hidden;
}

    /* content2 - left */
#song_left {
    float: left;
    width: 40%;
    height: 100%;
    background: #e5e5e5;

    position: relative;
}

#song_wrap {
    width: 300px;

    position: absolute; /*#song_left*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    margin-top: 20px;

    visibility: hidden;
    opacity: 0;
    transition-duration: 400ms;
}
/* ----- section2 왼쪽 보이기 ----- */
/*
#song_wrap.song_wrap_show {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
}
*/
#cont2_wrap.section2_show > #song_left > #song_wrap {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    transition-delay: 600ms;
}

#song_wrap > img {
    width: 100%;
    display: block;
}

#song_title { margin: 20px 0 50px; }

#song_title > p {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 700;
}

#song_title > p > span {
    margin-right: -0.1em;
    position: relative;
}

#song_title > h1 { font-size: 2em; font-weight: 700; }

#song_cont { position: relative; }

#song_cont::before {
    content: "";
    width: 50px;
    height: 2px;
    background: #191919;

    position: absolute;/*#song_cont*/
    left: 50%;
    top: -24px;
    transform: translateX(-50%);
}

#song_cont > p { line-height: 1.5em; }

#song_cont > p:not(:last-of-type) { margin-bottom: 30px; }

    /* content2 - right */
#song_right {
    float: right;
    width: 60%;
    height: 100%;
    background: #fffffb;

    position: relative;
    right: -60%;
    transition-duration: 400ms;
}

#cont2_wrap.section2_show > #song_right {
    right:0;
}

#song_right > .song_right_cont {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);

    margin-top: 20px;

    visibility: hidden;
    opacity: 0;
    transition-duration: 400ms;
}

/* ----- section2 오른쪽 콘텐츠 보이기 ----- */

#song_right > .song_right_cont.right_cont_show {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

#cont2_wrap.section2_show > #song_right > .song_right_cont.right_cont_show {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}
#cont2_wrap.section2_show > #song_right > #right_cont1.cont_delay {
    transition-delay: 1000ms;
}

#song_right > .song_right_cont > h2 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em;
}

#right_cont1 > h2 > span {
    display: block;
}

    /* content2 - right_content2 - 4 */

#song_right > .song_right_cont > ul {
    margin-top: 2.5em;
    font-size: 1.5em;
    line-height: 2em;
}

#song_right > .song_right_cont > ul > li > span {
    letter-spacing: 1px;
}

#song_right > .song_right_cont:not(:last-of-type) > ul > li > span {
    font-weight: 700;
    display: inline-block;
    margin-right: 30px;
}

    /* content2 - right_content4 */
#right_cont4 > ul > li:nth-child(1),
#right_cont4 > ul > li:nth-child(2),
#right_cont4 > ul > li:nth-child(3),
#right_cont4 > ul > li:nth-child(7) {
    font-weight: 700;
}

    /* content2 - right_content5 */
#right_cont5 > ul {
    width:600px;
}

.second_row:not(:last-of-type) {
    margin-bottom: 1em;
}

.third_column {
    float: left;
    text-align:center;
}

.second_row > ul > li:not(:first-child) { margin-left: 60px; }

.third_column > div {
    width: 160px;
    height: 160px;

    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

/* svg style */
svg {width: 100%; height: 100%;}


    /* 프로그램 icon background */
.third_column > #html {
    background-image: url("../images/content002_002_html.png");
}
.third_column > #css {
    background-image: url("../images/content002_003_css.png");
}
.third_column > #js {
    background-image: url("../images/content002_004_js.png");
}
.third_column > #jq {
    background-image: url("../images/content002_005_jq.png");
}
.third_column > #ps {
    background-image: url("../images/content002_006_ps.png");
}
.third_column > #ai {
    background-image: url("../images/content002_007_ai.png");
}

.third_column > span { font-size: 0.8em; font-weight: 700; }

#indicator {
    position: absolute;
    top: 15%;
    /* bottom: 15%; */
    /* left: 10%; */
    left: 60%;

    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    transition-duration: 400ms;
}

#cont2_wrap.section2_show > #song_right > #indicator {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transition-delay: 1000ms;
}

#indicator > li {
    float: left;
    margin-right: 5px;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0a1742;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);

    opacity: 0.7;
    /* cursor: pointer; */

    transition-duration: 400ms;
}

/*
#indicator > li:hover {
    opacity: 1;
}
*/

#indicator > li.indi_on {
    opacity: 1;
    width: 25px;
    border-radius: 25px;
    /* cursor: default; */
}

#indicator > li > span {
    position: absolute;
    display: block;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}